@model Funcionario
@{
    ViewData["Title"] = "Funcionarios";
}

<form method="post">
    <div class="border p-3 mt-4 adicionarNave">
        <div class="row pb-2">
            <h1>Adicionar Funcionario</h1>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="NomePessoa">Nome</label>
            <input asp-for="NomePessoa" class="form-control" />
            <span asp-validation-for="NomePessoa" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="Endereco">Endereço</label>
            <input asp-for="Endereco" class="form-control" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="Telefone"></label>
            <input asp-for="Telefone" pattern="/^(?:(?:\+|00)?(55)\s?)?(?:\(?([1-9][0-9])\)?\s?)?(?:((?:9\d|[2-9])\d{3})\-?(\d{4}))$/" name="telefone" title="Digite um telefone no formato: (xx)xxxxxxxxx" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="Profissao">Profissão</label>
            <input asp-for="Profissao" class="form-control" />
            <span asp-validation-for="Profissao" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="Email"></label>
            <input asp-for="Email" type="email" placeholder="name@example.com" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="DataNascimento">Data de Nascimento</label>
            <input asp-for="DataNascimento" type="date" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text-light mb-1" asp-for="CPF"></label>
            <input asp-for="CPF" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite um CPF no formato: xxx.xxx.xxx-xx" class="form-control" />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a asp-controller="Funcionario" asp-action="Index" class="btn btn-light">Voltar</a>
    </div>
</form>